button.secp-add-shortcode.button {
	&, &:hover, &:active, &:focus {
		padding-left: 25px;
		background-image: url(../images/shopify_icon_small.png);
		background-position: 6px 4px;
		background-repeat: no-repeat;
	}
}
